spring:
  application:
    name: store-service

  datasource:
    url: jdbc:postgresql://localhost:5432/store
    username: myuser
    password: mypassword
    driver-class-name: org.postgresql.Driver

  sql:
    init:
      mode: always

docker:
  compose:
    lifecycle-management: start-only