services:
  redis:
    image: redis:latest
    container_name: redis
    ports:
      - "6379:6379"
    networks:
      - local

  postgres:
    image: postgres:18-alpine
    container_name: postgres-db
    restart: always # no
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: store
    ports:
      - "5432:5432"   # 对外暴露数据库端口
    networks:
      - local

networks:
  local:
    external: true